<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Catbreeds</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let cat of viewModelCat.cats">
    <ion-card-content>
      <ion-card-title>{{ cat.name }}</ion-card-title>
    </ion-card-content>
    <img [alt]="cat.name" [src]="getUrlImage(cat.reference_image_id)" />
    <ion-card-content class="info-container">
      <div class="left-info">
        <div class="title">País de Origen:</div>
        <div class="content">{{ cat.origin }}</div>
      </div>
      <div class="right-info">
        <div class="title">Inteligencia:</div>
        <div class="content">{{ cat.intelligence }}</div>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content [loadingText]="loadingText"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
